apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: production-pool
  namespace: metallb-system
  annotations:
    # This tells ArgoCD: "If the IPAddressPool CRD is missing, wait. Don't fail."
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  addresses:
  - 10.20.20.200-10.20.20.220  # <--- Must match the excluded range in Switch.
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: production-advertisement
  namespace: metallb-system
  annotations:
    # This tells ArgoCD: "If the IPAddressPool CRD is missing, wait. Don't fail."
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  ipAddressPools:
  - production-pool