apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
#  annotations:
#    # Avoid Argo failing dry-run before cert-manager CRDs exist
#    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
#    argocd.argoproj.io/sync-wave: "30"
spec:
  acme:
    email: tatahostit@gmail.com
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
#  annotations:
#    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
#    argocd.argoproj.io/sync-wave: "30"
spec:
  acme:
    email: tatahostit@gmail.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token