# 1. OpenProject Core Settings
openproject:
  https: true

  # Admin User Seeding (Initial run only)
  admin_user:
    mail: "tatahostit@gmail.com"
    name: "System Administrator"
    password_reset: "true"
#    secret: "openproject-admin-secrets"
#    secretKeys:
#      password: "ADMIN_PASSWORD"
    password: "admin"
  tmpVolumesStorageClassName: "sc-nvme"

hocuspocus:
  enabled: true
  # We override the container port to ensure only valid fields are passed
  containerPort: 1234
  # If the error persists, we may need to specifically nullify the leaked 'port' field
  # by ensuring it isn't being pulled from a global service setting.
  service:
    port: 1234

persistence:
  enabled: true
  storageClassName: "sc-nvme"
  size: 20Gi
  # Change to RWO since you are using Ceph RBD and 1 replica
  accessModes:
    - "ReadWriteOnce"
# 2. Database Configuration (External CNPG)
postgresql:
  bundled: false
  connection:
    host: "postgres-shared-rw.postgres.svc.cluster.local"
    port: 5432
  auth:
    # This points to the secret Reflector automatically mirrors
    existingSecret: "openproject-db-creds"
    username: "openproject-user" # Matches the role in Cluster manifest
    database: "openproject"
    secretKeys:
      userPasswordKey: "password"

# 3. Rails Secret Key Base
extraEnvVars:
  - name: OPENPROJECT_SECRET_KEY_BASE
    valueFrom:
      secretKeyRef:
        name: openproject-admin-secrets
        key: SECRET_KEY_BASE

# 4. Ingress Configuration
ingress:
  enabled: true
  ingressClassName: "nginx"
  host: "openproject.tatahostit.com"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/proxy-body-size: "512m"
  tls:
    enabled: true
    secretName: "openproject.tatahostit.com-tls"

# 5. Resource Sizing
replicaCount: 1