deploymentMode: SingleBinary

# Zero out Scalable components to prevent errors
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

loki:
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  compactor:
    working_directory: /var/loki/compactor
    retention_enabled: true
    delete_request_store: filesystem
  limits_config:
    retention_period: 30d
  auth_enabled: false

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 50Gi
    storageClass: sc-fast
  podSecurityContext:
    fsGroup: 10001
    runAsUser: 10001
    runAsGroup: 10001
    runAsNonRoot: true

serviceMonitor:
  enabled: true

minio:
  enabled: false
gateway:
  enabled: false
resultsCache:
  enabled: false