config:
  clients:
    # Pointing to the internal Loki service
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

extraVolumeMounts:
  - name: varlog
    mountPath: /var/log
    readOnly: true
  - name: varlibdockercontainers
    mountPath: /var/lib/docker/containers
    readOnly: true
  - name: varlogpods
    mountPath: /var/log/pods
    readOnly: true

tolerations:
  - operator: Exists