apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflare-tunnel
data:
  config.yaml: |
    # Route all traffic to the internal Nginx Ingress Controller
    ingress:
      - service: http://ingress-nginx-controller.ingress-nginx.svc.cluster.local:80
      - service: http_status:404